.tbopacidade{
    background-color: rgba(53, 156, 224, 0.6);
}
.fundofixo{
    background: url(../imagens/bg_paralax.jpg) no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover;
}
/* Logo */
.logo h3{
    color: #fff;
    margin: 0;
    font-size: 22px;
    font-weight: 800;
}
.logo span{
    color: #51b3ec;
}