.tbopacidade{
    background-color: rgba(110, 178, 224, 0.6);
}
.fundofixo{
    background: url(../imagens/bg_paralax.jpg) no-repeat fixed;
    -webkit-background-size:cover;
    background-size: cover;
}